<!DOCTYPE html>
<html>
<head>
  <title>Decidr</title>
  <%= stylesheet_link_tag    "decidr/application", :media => "all" %>
  <%= javascript_include_tag "decidr/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
